* ::after *::before{
    margin: 0;
    padding: 0;

}
html , body{
    height: 100%;

}
body{
    background-color: rgb(255, 132, 100);
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card{
    background: rgb(238, 178, 238);
    padding: 25px;
    border-radius: 10px;
    text-align: center;

}
.tital{
    margin-bottom: 15px;
    font-size: 70px;
}
.card-btn button {
    border-radius: 2px;
    color: #262626;
    padding:10px 36px ;
    border: 0cap;
    font-size: 15px;
    font-weight: bold;
    margin: 0. 5px;
    cursor: pointer;
    transition: 0.50px;

}
button#decrement{
    background-color: burlywood;
    
}
button#decrement:hover{
    background-color: rgb(248, 99, 136);
    color: #ffff;

}
button#reset{
    background-color: #f3a683;
    
}
button#reset:hover{
    background-color: #ea2027;
    color: #ffff;

}
button#increment{
    background-color: #c4e538;
    
}
button#increment:hover{
    background-color: #009432;
    color: #ffff;

}